@mixin edit-panel ($headerHeight, $footerHeight) {
	
	&.container{
		width: 100%;
		height: 100%;
		padding: $headerHeight 0 $footerHeight 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		overflow: hidden;
		.header{
			width: 100%;
			height: $headerHeight;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 1px solid #DDD;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
		.section{
			width: 100%;
			height: 100%;
			overflow: auto;
		}
		.footer{
			width: 100%;
			height: $footerHeight;
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: 1px solid #DDD;
      		-webkit-box-sizing: border-box;
      		        box-sizing: border-box;
		}
	}

	&.container-auto{
		width: 100%;
		height: 100%;
		padding-top: $headerHeight;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		overflow: hidden;
		.header{
			width: 100%;
			height: $headerHeight;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 1px solid #DDD;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
		.section{}
		.footer{
			width: 100%;
			height: $footerHeight;
		}
	}
}