<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aspire.mapper.UserMapper">

    <select id="findAllUserInfo" resultType="com.aspire.pojo.User">
        SELECT 	user_id AS userId, username FROM user
    </select>

    <select id="findByName" parameterType="string" resultType="com.aspire.pojo.User">
        SELECT user_id AS userId,username,password FROM user WHERE username = #{username}
    </select>

</mapper>